.App {
  text-align: center;
}

.navbar {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightseagreen;
  color: white;
  padding: 15px;
}


.card {
  width: 400px;
  height: 400px;
}


.gallery {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.space-card {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

#space-card {
  width:600px;
  height: 600px;
}