.App {
  text-align: center;
}

.nav-bar {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  
  color: white;
  padding: 15px;
}
nav {
  background-color: transparent;
}


.card {
  width: 400px;
  height: 400px;
}


.gallery {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.space-card {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.gallery-cards {

}

#space-card {
  width:600px;
  height: 600px;
}



button {
  background-color: silver;
}
button:focus {
  background-color: silver;;
}

.gallery-buttons {
  display:flex;
  justify-content: space-evenly;
}
